{% extends 'base.html.twig' %}

{% block title %}Edit BandasDeMusica{% endblock %}

{% block body %}
    <h1>Edit BandasDeMusica</h1>

    {{ include('bandas_de_musica/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bandas_de_musica_index') }}">back to list</a>

    {{ include('bandas_de_musica/_delete_form.html.twig') }}
{% endblock %}
