{% extends 'base.html.twig' %}

{% block title %}
  New BandasDeMusica
{% endblock %}

{% block body %}
  <h1 style="text-align:center">
    Crear banda nueva
  </h1>

  <div class="mb-3" style="width: 300px;  margin: auto;">
    <div class="col-auto">
      {{ include('bandas_de_musica/_form.html.twig') }}
    </div>
  </div>

  <div class="container">
    <div class="vertical-center">
      <a class="btn btn-info" href="{{ path('app_bandas_de_musica_index') }}">
        Volver a la lista
      </a>
    </div>
  </div>
{% endblock %}
